<html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <title>Ajuda</title>
      <link rel="stylesheet" href="static/css/iot_index.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
      <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
      <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet" />
      <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
      <link rel="stylesheet" href="static/css/iot_index.css">
      <link rel="stylesheet" type="text/css" href="./static/css/ajuda.css" >
    </head>
    
    <body class="sb-nav-fixed">
      <nav class="sb-topnav navbar navbar-expand navbar-light bg-light">
          <a class="navbar-brand" href="#">Estacionamento UrbanPark</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/cadastrar">Cadastrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/iot">IOT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ajuda">Ajuda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/ajuda/reclamacao">Reclamações</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
            </ul>
          </div>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
          <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
              <div class="sb-sidenav-menu">
                  <div class="nav">
                      <div class="sb-sidenav-menu-heading">Módulos</div>
                      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                          <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                          Home
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                          <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="/">Home</a>
                          </nav>
                      </div>
                      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseTicket" aria-expanded="false" aria-controls="collapseLayouts">
                          <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                          Login e Cadastro
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      <div class="collapse" id="collapseTicket" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                          <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="/auth">Realizar o login</a>
                              <a class="nav-link" href="/auth/cadastrar">Realizar o cadastro</a>
                              <a class="nav-link" href="/auth/lista_funcionario">Listar Funcionarios</a>
                          </nav>
                      </div>
                      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePayment" aria-expanded="false" aria-controls="collapseLayouts">
                          <div class="sb-nav-link-icon"><i class="fa-solid fa-lightbulb"></i></div>
                          IOT
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      <div class="collapse" id="collapsePayment" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                          <nav class="sb-sidenav-menu-nested nav">
                              <div class="qqisso">
                                  <a class="nav-link" href="/iot/register_sensor">Adicionar Sensor</a>
                                  <a class="nav-link" href="/iot/register_actuator">Adicionar Atuador</a>
                                  <a class="nav-link" href="/iot/view_sensors">Ver Sensores</a>
                                  <a class="nav-link" href="/iot/view_actuators">Ver Atuadores</a>
                              </div>
                          </nav>
                      </div>
                      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseProduct" aria-expanded="false" aria-controls="collapseLayouts">
                          <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                          Ajuda
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      <div class="collapse" id="collapseProduct" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                          <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="/ajuda/conserto">Conserto de Sensor</a>
                              <a class="nav-link" href="/ajuda/listar_consertos">Ver os Concertos</a>
                              <a class="nav-link" href="/ajuda/listar_solucao">Consertos Solucionados</a>
                          </nav>
                      </div>
                      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseBilling" aria-expanded="false" aria-controls="collapseLayouts">
                          <div class="sb-nav-link-icon"><i class="fas fa-credit-card-alt"></i></div>
                          Reclamações
                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      <div class="collapse" id="collapseBilling" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                          <nav class="sb-sidenav-menu-nested nav">
                              <a class="nav-link" href="/ajuda/reclamacao">Criar Reclamação</a>
                              <a class="nav-link" href="/ajuda/listar_reclamacoes">Ver as Reclamações</a>
                          </nav>
                      </div>
                      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseNovaAba" aria-expanded="false" aria-controls="collapseNovaAba">
                        <div class="sb-nav-link-icon"><i class="fas fa-parking"></i></div>
                        Vagas e Hórarios
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                      </a>
                      <div class="collapse" id="collapseNovaAba" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/admin/ver_vagas">Ver Vagas</a>
                            <a class="nav-link" href="/admin/ver_horarios">Ver Hórarios</a>
                        </nav>
                      </div>
                  </div>
              </div>
            </nav>
      </div>
        <div id="layoutSidenav_content">
            {% block main %} {% endblock main%}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='admin/js/scripts.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='admin/assets/demo/chart-area-demo.js') }}"></script>
        <script src="{{ url_for('static', filename='admin/assets/demo/chart-bar-demo.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='admin/js/datatables-simple-demo.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" ></script>
        <script>
            $(document).ready(function () {
                var table = $('#view_sensors').DataTable( {
                    scrollY:        "500px",
                    scrollX:        true,
                    scrollCollapse: true,
                    paging:         true,
                    fixedColumns:   {
                        heightMatch: 'none'
                    },
                    language: {
                        url:"static/language/pt_br.json"
                    }
                } );
            });
        </script>
    </body>
</html>   