{% extends "ajuda/Ajuda_index.html" %}
{% import 'utils/forms.html' as forms %}

{% block main %}
<main class="main">
    
    <div class="container-fluid px-4">
    <h3 class="mt-4">Conserto de Sensores</h3>
    <div class="vertical-center">
        <div class="container view">
            <div class="justify-content-center">
                <div class="container-fluid px-4">
                    <div class="row">
                        <div class="vertical-center">
                            <div class="container">
                                <div class="card">
                                    <div class="card-header">
                                    Cadastrar Nova Chamada de Conserto
                                    </div>
                                    <div class="card-body">
                                        <form class="row g-3 justify-content-center" enctype="multipart/form-data" action="/ajuda/conserto_geral" method="POST">
                                            <div class="col-md-6">
                                                <label for="numero_vaga" class="form-label">Número da Vaga</label>
                                                <select id="numero_vaga" name="numero_vaga" class="form-control">
                                                    {% for v in vaga %}
                                                        <option value="{{ v.id }}">{{ v.id }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            {{ forms.textarea(label = 'Descrição', name = 'descricao', rows = 1, id = 'descricao', box_size = 8) }}
                                            {{ forms.button(label = 'Cadastrar conserto', box_size = 12) }}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
                   
