{% extends "iot/iot_index.html" %}
{% block main %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>IOT</title>
        <link rel="stylesheet" href="static/css/iot_index.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
        <link rel="stylesheet" href="static/css/iot_index.css">
    </head>

    <body class="sb-nav-fixed">
        <div class="container-fluid px-4">
            <div class="vertical-center">
                <div class="container view">
                    <div class="justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 col-md-6">
                            <div class="card register text-white mb-4">
                                <div class="card-body">Cadastrar Novo Sensor</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="/iot/register_sensor">Acessar página de Cadastro</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card register text-white mb-4">
                                <div class="card-body">Cadastrar Novo Atuador</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="/iot/register_actuator">Acessar página de Cadastro</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card views text-white mb-4">
                                <div class="card-body">Listar Sensores</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="/iot/view_sensors">Acessar página de Sensores</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="card views text-white mb-4">
                                <div class="card-body">Listar Atuadores</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="/iot/view_actuators">Acessar página de Atuadores</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="layoutSidenav_content">
          
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='admin/js/scripts.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='admin/assets/demo/chart-area-demo.js') }}"></script>
        <script src="{{ url_for('static', filename='admin/assets/demo/chart-bar-demo.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='admin/js/datatables-simple-demo.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" ></script>
        <script>
            $(document).ready(function () {
                var table = $('#view_sensors').DataTable( {
                    scrollY:        "500px",
                    scrollX:        true,
                    scrollCollapse: true,
                    paging:         true,
                    fixedColumns:   {
                        heightMatch: 'none'
                    },
                    language: {
                        url:"static/language/pt_br.json"
                    }
                } );
            });
        </script>
    </body>
</html>
{% block content %} {% endblock content%}
{% endblock main%}

